.cabecera {
    align-items: center;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 0px) {
    .cabecera {
        padding-top: .5rem;
        flex-direction: column;
        justify-content: center;
    }
    .cabecera__titulo {
        font-weight: 700;
        font-size: .8rem;
        font-weight: bold;
    }
}
@media screen and (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .cabecera__titulo {
        font-weight: 700;
        font-size: .8rem;
        font-weight: bold;
        padding-right: 20px;
    }
}
@media screen and (min-width: 1460px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5rem;
    }
    .cabecera__titulo {
        font-weight: 700;
        font-size: .8rem;
        font-weight: bold;
    }
}