.contacto {
    align-items: center;
    justify-content: center;
    background:  #EAF2FD;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}