.contacto__formulario--contenedor {
    align-items: flex-start;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 0px) {
    .contacto__formulario--contenedor{
        width: 80%;
        margin-left: 20px;
    }
}
@media screen and (min-width: 760px) {
    .contacto__formulario--contenedor{
        height: 596px;
        margin-left: 20px;
        width: 30%;
    }
}