.contacto__formulario--datos {
    align-items: flex-start;
    background: white;
    color: #2A7AE4;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    line-height: .9rem;
    padding: 5px 5px 0 5px;
}
@media screen and (min-width: 0px) {
    .contacto__formulario--datos{
        width: 100%;
    }
}
@media screen and (min-width: 760px) {
    .contacto__formulario--datos{
        width: 98%;
    }
}