.formacion__card--titulo {
    text-align: left;
    display: flex;
    font-size: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: .9rem;
    width: 150px;
}