.banner__persona {
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: url(../../img/foto\ julio.png) no-repeat center / cover;
    border-radius: 100%;
    height: 368px;
    width: 368px;
}