@media screen and (min-width: 0px) {
    .banner__menu {
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding-right: 1rem;
        gap: 24px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width:760px) {
    .banner__menu {
        justify-content: center;
        align-items: center;
        flex: 2;
        padding-right: 1rem;
        gap: 24px;
        width: 80%;   
    }    
}