.experiencia__contenedor--descripcion {
    text-align: left;
    display: flex;
    font-size: .7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: .8rem;
    width: 200px;
}