.sobre__mi--contenedor {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 0px) {
    .sobre__mi--contenedor {
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width:760px) {
    .sobre__mi--contenedor {
        height: 25%;
        width: 74%;
    }
}