.sobre__mi {
    background: #eaf2fd;
    flex-direction: column;
}
@media screen and (min-width: 0px) {
    .sobre__mi {
        align-items: center;
        padding: 3rem 80px 3rem 80px;
    }
}

@media screen and (min-width:760px) {
    .sobre__mi {
        align-items: flex-start;
        display: flex;
        gap: 1rem;
        padding: 3rem 150px 3rem 150px;
        width: auto;
    }
}