.hobbies__card {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 1rem;
    text-align: center;
    width: 70px;
    margin: 1rem;
}