.hobbies__contenedor--card {
    align-content: center;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
}
@media screen and (min-width: 0px) {
    .hobbies__contenedor--card{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:760px) {
    .hobbies__contenedor--card {
        flex-wrap: wrap;
    }
}